@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

/* .play {
    vertical-align: baseline;
} */

body {
    background: #211d1d !important;
}

#App, .title {
    background: #3c3836 !important;
    color: #f9efc6;
    font-size: 80% !important;
}

.title {
    border: 1px solid #f9efc6;
    font-size: 125% !important;
}

.nes-container {
    border: 1px solid #f9efc6 !important;
}

.nes-container .items {
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.nes-container .items .item {
    flex: 33%;
    transition: 0.2s;
}

.nes-container .items .item label {
    margin: 4px !important;
}

.nes-container .items .item:hover {
    background: #f9efc6;
    color: #3c3836;
    outline: 1px solid #f9efc6;
}

.settings {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    gap: 8px;
}

.speakers {
    float: left;
    width: 75%;
}

.pitches {
    float: left;
    width: 33.33%;
}

.devices {
    float: left;
    width: 24%;
}

.devices .items {
    flex-wrap: nowrap;
    flex-direction: column;
}

.effects {
    float: none;
    width: 100%;
}
