@charset "utf-8";
@import url(https://fonts.googleapis.com/css?family=Press+Start+2P);

/* .play {
    vertical-align: baseline;
} */

.settings {
    display: flex;
    flex-flow: row wrap;
}

.speakers {
    float: left;
    width: 33.33%;
}

.pitches {
    float: left;
    width: 33.33%;
}

.devices {
    float: left;
    width: 33.33%;
}

.effects {
    float: none;
    width: 100%;
}
